/* Conteúdo ------------------------------------------------------- */
main {
    padding-top: 15px;
}

main article {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFF;
}

main a {
	color: #FF0;
	text-decoration: none;
}

main a:hover, main a:active {
	color: #880;
}

main h1 {
	color: #FF0;
	margin: 0px;
}

main h2, main h3, main h4 {
	margin: 0px;
	color: #0FF;
}

main h4 {
	font-size: 11pt;
}
