/* Footer --------------------------------------------------------- */
footer {
    padding-bottom: 15px;
    color: #FF0;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #FAB3FF;
}

footer a:hover {
    color: #B670BB;
}

