/* Menu ----------------------------------------------------------- */
nav {
    overflow: hidden;
    background-color: rgba(255, 255, 0, 0.5);
    font: bold;
    border-radius: 10px;
}

nav a {
    display: block;
    float: left;
    padding: 10px;
    text-decoration: none;
    text-align: center;
	color: #008;
}

nav a:hover {
    background-color: #FF0;
    cursor: pointer;
}

