<!DOCTYPE html>
<html>
<head>
    <title>%PAGE_TITLE%</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="%CSS_FILE%" rel="stylesheet" />
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <header>
        <h1>Meu Mundo de Lógica</h1>
    </header>
    <nav>
        <a href="%INDEX_LINK%">Início</a>
        <a href="https://livepix.gg/anachan01h">Me apoie</a>
    </nav>
    <main>
%POSTS%
    </main>
    <footer>
        Copyright &copy; 2025 anachan01h
    </footer>
</body>
</html>
